<router-outlet></router-outlet>
<p> {{title}} </p>
<ul>
    <li *ngFor="let hero of arraySample">
      {{ hero }}
    </li>
  </ul>

<p> {{title1}} </p>
  <ul>
    <li *ngFor="let arrayobject of result1">
      {{ arrayobject.name }}
      {{ arrayobject.position }}
      {{ arrayobject.salary }}
    </li>
  </ul>

  <p> {{title2}} </p>
  <ul>
    <li *ngFor="let arrayobject of result2">
      {{ arrayobject.SurveyorName }}
      {{ arrayobject.State }}
      {{ arrayobject.NoOfInt }}
    </li>
  </ul>